<div id="<%= dom_id provider %>">
  <p>
    <strong>Name:</strong>
    <%= provider.name %>
  </p>

  <p>
    <strong>Store:</strong>
    <%= provider.store_id %>
  </p>

  <p>
    <strong>Comments:</strong>
    <%= provider.comments %>
  </p>

</div>
