<!--begin::Main-->
<div class="app-main flex-column flex-row-fluid" id="kt_app_main">
  <!--begin::Content wrapper-->
  <div class="d-flex flex-column flex-column-fluid">
    <%= yield %>
  </div>
  <!--end::Content wrapper-->
  <%= render "layouts/footer" %>
</div>
<!--end:::Main-->