<h1>Editing external income</h1>

<%= render "form", external_income: @external_income %>

<br>

<div>
  <%= link_to "Show this external income", @external_income %> |
  <%= link_to "Back to external incomes", external_incomes_path %>
</div>
