<!--begin::Summary-->
<div class="d-flex flex-stack bg-success rounded-3 p-6 mb-11">
  <!--begin::Content-->
  <div class="fs-6 fw-bold text-white">
    <!--<span class="d-block lh-1 mb-2">Subtotal</span>
    <span class="d-block mb-9">Descuento</span>-->
    <span class="d-block fs-2qx lh-1">Total</span>
  </div>
  <!--end::Content-->
  <!--begin::Content-->
  <div class="fs-6 fw-bold text-white text-end">
    <!--<span class="d-block lh-1 mb-2" data-kt-pos-element="total"><%= number_to_currency(@order.subtotal) %></span>
    <span class="d-block mb-9" data-kt-pos-element="discount">$0.00</span>-->
    <span class="d-block fs-2qx lh-1" data-kt-pos-element="grant-total"><%= number_to_currency(@order.subtotal) %></span>
  </div>
  <!--end::Content-->
</div>
<!--end::Summary-->