<!--begin::Toolbar-->
<div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
  <!--begin::Toolbar container-->
  <div id="kt_app_toolbar_container" class="app-container container-fluid d-flex flex-stack">
    <!--begin::Page title-->
    <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
      <!--begin::Title-->
      <h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">Ordenes Cerradas</h1>
      <!--end::Title-->
      <!--begin::Breadcrumb-->
      <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
        <!--begin::Item-->
        <li class="breadcrumb-item text-muted">
          <a href="../../demo1/dist/index.html" class="text-muted text-hover-primary">Administración</a>
        </li>
        <!--end::Item-->
        <!--begin::Item-->
        <!--
        <li class="breadcrumb-item">
          <span class="bullet bg-gray-400 w-5px h-2px"></span>
        </li>
        -->
        <!--end::Item-->
        <!--begin::Item-->
        <!--<li class="breadcrumb-item text-muted">Dashboards</li>-->
        <!--end::Item-->
      </ul>
      <!--end::Breadcrumb-->
    </div>
    <!--end::Page title-->
    <!--begin::Actions-->
    <div class="d-flex align-items-center gap-2 gap-lg-3">
      <!--begin::Secondary button-->
      <!--<a href="#" class="btn btn-sm fw-bold bg-body btn-color-gray-700 btn-active-color-primary" data-bs-toggle="modal" data-bs-target="#kt_modal_create_app">Rollover</a>-->
      <!--end::Secondary button-->
      <!--begin::Primary button-->
      <!--<a href="#" class="btn btn-sm fw-bold btn-primary" data-bs-toggle="modal" data-bs-target="#kt_modal_new_item">Nuevo Insumo</a>-->
      <!--end::Primary button-->
    </div>
    <!--end::Actions-->
  </div>
  <!--end::Toolbar container-->
</div>
<!--end::Toolbar-->
<!--begin::Content-->
<div id="kt_app_content" class="app-content flex-column-fluid">
  <!--begin::Content container-->
  <div id="kt_app_content_container" class="app-container container-fluid">
    <!--begin::Card-->
    <div class="card card-flush">
      <!--begin::Card body-->
      <div class="card-body pt-0">
        <!--begin::Table-->
        <table class="table align-middle table-row-dashed fs-6 gy-5 mb-0" id="kt_permissions_table">
          <thead>
            <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">
              <th class=""># Orden</th>
              <th class="">Consumo</th>
              <th class="">Pago</th>
              <th class="">Hora de cierre</th>
              <th class="">Total</th>
              <th class="text-end">Acciones</th>
            </tr>
          </thead>
          <tbody class="fw-semibold text-gray-600">
            <% @orders.each do |order| %>
            <tr>
              <td><%= "AKNARV#{order.id}" %></td>
              <td>
                <% if order.local? %>
                <span class="badge badge-light-success">Local</span>
                <% elsif order.togo? %>
                <span class="badge badge-light-info">Para llevar</span>
                <% elsif order.delivery? %>
                <span class="badge badge-light-warning">Delivery</span>
                <% end %>
              </td>
              <td>
                <% if order.payment.card? %>
                <span class="badge badge-light-success">Tarjeta</span>
                <% elsif order.payment.cash? %>
                <span class="badge badge-light-info">Efectivo</span>
                <% elsif order.payment.transfer? %>
                <span class="badge badge-light-warning">Transferencia</span>
                <% end %>
              </td>
              <td><%= order.payment.created_at.in_time_zone("Mexico City").strftime("%d/%m/%y %H:%M") %></td>
              <td><%= number_to_currency(order.subtotal) %></td>
              <td class="text-end">
                <%= link_to edit_order_path(order), class: "btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"  do %>
                  <i class="ki-duotone ki-pencil fs-2">
                    <span class="path1"></span>
                    <span class="path2"></span>
                  </i>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <!--end::Table-->
      </div>
      <!--end::Card body-->
    </div>
    <!--end::Card-->
  </div>
  <!--end::Content container-->
</div>
<!--end::Content-->